.btn-toolbar
  .btn-group
    %button.btn.btn-small 店舗
    %button.btn.btn-small.dropdown-toggle{data:{toggle:"dropdown"}}
      %span.caret
    %ul#shop.dropdown-menu
      - @shops.each do |shop|
        %li
          %a{href:"#", data:{shop:shop.id}}
            = shop.name
  .btn-group
    %button.btn.btn-small カラー
    %button.btn.btn-small.dropdown-toggle{data:{toggle:"dropdown"}}
      %span.caret
    %ul#color.dropdown-menu
      - @colors.each do |color|
        %li
          %a{href:"#", data:{color:color.id}}
            = color.name
            .colortip
              %span{style:"background:#{color.title}"}
              %span{style:"background:#{color.frame}"}
              %span{style:"background:#{color.text1}"}
              %span{style:"background:#{color.text2}"}
              %span{style:"background:#{color.bg1}"}
              %span{style:"background:#{color.bg2}"}
  .btn-group
    %button.btn.btn-small HTMLテンプレート
    %button.btn.btn-small.dropdown-toggle{data:{toggle:"dropdown"}}
      %span.caret
    %ul#html_template.dropdown-menu
      - @htmltemplates.each do |htmltemplate|
        %li
          %a{href:"#", data:{html_template:htmltemplate.id}}= htmltemplate.name
  .btn-group
    %button.btn.btn-small テキストテンプレート
    %button.btn.btn-small.dropdown-toggle{data:{toggle:"dropdown"}}
      %span.caret
    %ul#text_template.dropdown-menu
      - @texttemplates.each do |texttemplate|
        %li
          %a{href:"#", data:{text_template:texttemplate.id}}= texttemplate.name
  %a.btn.btn-small.btn-danger#cookie-clear{href:"#"} cookie削除
%p#info
  - unless request.cookies["color"] && request.cookies["html_template"] && request.cookies["text_template"] && request.cookies["shop"]
    カラー, HTMLテンプレート,テキストテンプレートを選択してください。


%ul.nav.nav-tabs
  %li.active
    %a{href:"#input", data:{toggle:"tab"}} 入力
  %li
    %a{href:"#preview", data:{toggle:"tab"}} プレビュー
  %li
    %a{href:"#htmlsource", data:{toggle:"tab"}} HTMLソース
.tab-content
  #input.tab-pane.active
    %form{action:"", name:""}
      %label{for:"shohin_title"} 商品名
      %textarea#shohin_title.span12{name:"shohin_title", rows:2}
      %label{for:"shohin_detail"} 商品詳細
      %textarea#shohin_detail.span12{name:"shohin_detail", rows:15}
      %button#clear-input.btn.btn-warning入力内容消去
  #preview.tab-pane
  #htmlsource.tab-pane
    =haml :_clippy
    %textarea.span12{rows:15}

- if @use_shop
  :javascript
    window.auc.shop = #{@use_shop}.shop;
- if @use_color
  :javascript
    window.auc.color = #{@use_color}.color;
- if @use_html
  :javascript
    window.auc.html_template = #{@use_html}.html_template;
- if @use_text
  :javascript
    window.auc.text_template = #{@use_text}.text_template;
:javascript
  $(function(){
    $("#info").triggerHandler("auc_update");
  })
