%h2 店舗 ##{@shop.id} を編集
%form.form-horizontal{action:url("/shop/#{@shop.id}"), method:"post"}
  %input{type:"hidden", name:"_method", value:"put"}
  %span.help-block
    テンプレートの内容で改行は&lt;br&gt;で表現してください。
  .control-group
    %label.control-label 店舗名
    .controls
      %input.span9{type:"text", name:"name", value:@shop.name}
  - (1..9).each do |i|
    .control-group
      %label.control-label テンプレートの内容#{i}
      .controls
        %textarea.span9{rows:15, name:"contents#{i}"}= @shop["contents#{i}"]
  .form-actions
    %input.btn.btn-primary{type:"submit"}
