%h2 テキストテンプレート ##{@texttemplate.id} を編集
%form.form-horizontal{action:url("/text_template/#{@texttemplate.id}"), method:"post"}
  %input{type:"hidden", name:"_method", value:"put"}
  .control-group
    %label.control-label テンプレート名
    .controls
      %input.span9{type:"text", name:"name", value:@texttemplate.name}
  .control-group
    %label.control-label ヘッダー
    .controls
      %textarea.span9{rows:8,name:"header"}= @texttemplate.header
      %span.help-block
        改行は&lt;br&gt;で表現してください。
  - (1..5).each do |i|
    .control-group
      %label.control-label タイトル#{i}
      .controls
        %input.span9{type:"text", name:"col#{i}_title", value:@texttemplate["col#{i}_title"]}
    .control-group
      %label.control-label テキスト#{i}
      .controls
        %textarea.span9{rows:8, name:"col#{i}_text"}= br2nl @texttemplate["col#{i}_text"]
        %span.help-block
          改行は自動的に&lt;br&gt;に変換されます。
  .control-group
    %label.control-label フッター
    .controls
      %textarea.span9{rows:8, name:"footer"}= @texttemplate.footer
      %span.help-block
        改行は&lt;br&gt;で表現してください。
  .form-actions
    %input.btn.btn-primary{type:"submit"}
