- if @flash
  .alert.alert-error
    %strong Error!
    = @flash
%h2 ユーザー
.tabbable.tabs-left
  = haml :_left_tab
  .tab-content
    #list.tab-pane.active
      %form{action:url("/user"), method:"post"}
        %input{name:"_method", type:"hidden", value:"delete"}
        %input.btn.btn-mini.btn-danger{type:"submit", value:"チェックしたユーザーを削除"}
        %table.table.table-condensed
          %thead
            %tr
              %th
              %th id
              %th ユーザー名
              %th 管理者
              %th 作成日
              %th 更新日
          %tbody
            - @users.each do |user|
              %tr
                %td
                  %input{type:"checkbox", name:"id_collection[]", value:user.id}
                %td
                  =user.id
                %td
                  %a{href:url("/user/#{user.id}")}
                    =user.username
                %td
                  - if user.is_admin
                    = "YES"
                  - else
                    = "NO"
                %td
                  =user.created_at
                %td
                  =user.updated_at

    #new.tab-pane
      %form.form-horizontal{action:url("/user"), method:"POST"}
        .control-group
          %label.control-label ユーザー名
          .controls
            %input{type:"text", name:"username"}
        .control-group
          %label.control-label パスワード
          .controls
            %input{type:"password", name:"password"}
        .control-group
          .controls
            %label.checkbox
              %input{type:"checkbox", name:"is_admin", value:"true"} 管理者権限
        .form-actions
          %input.btn.btn-primary{type:"submit"}
